html,
body {
    width: 100%;
    height: 100%;
}


/**
   * reset styles for wigets that otherwise might inherit defaults
   * from their corresponding HTML tag in-use
   */

[data-wtype="StatefulWidget"],
[data-wtype="StatelessWidget"],
[data-wtype="GestureDetector"],
[data-wtype="Container"],
[data-wtype="Stack"],
[data-wtype="Align"],
[data-wtype="Positioned"],
[data-wtype="Text"] {
    all: unset;
}


/**
   * widgets that should take as much space as possible
   */

[data-wtype="Target"],
[data-wtype="Stack"] {
    width: 100%;
    height: 100%;
    display: block;
}


/**
   * Stack
   */

[data-wtype="Stack"] {
    position: relative;
}

[data-wtype="Stack"]>div,
[data-wtype="Stack"]>span {
    position: absolute;
}


/**
   * Align
   */

.p-align-top-right {
    top: 0;
    right: 0;
}

.p-align-top-left {
    top: 0;
    left: 0;
}

.p-align-bottom-right {
    bottom: 0;
    right: 0;
}

.p-align-bottom-left {
    bottom: 0;
    left: 0;
}